<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
    
        <form action="/search" class="nav-search" method="GET" role="search"> 
            <input type="text" name="busqueda" placeholder="Encontrá lo que buscas..." maxlength="120" autocomplete="off" class="search-form-input">
               <button type="submit" value="Buscar" class="nav-search-boton">
                   <div class="lupa-form"><i class="fas fa-search"></i></div>
                </button>
        </form>
        </div>
        <div class="copy-header">
    <h1><i class="fas fa-store"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
    </div>

        <a href="#" class="hamburguesa-boton">
            <i class="fas fa-bars"></i></a>
        
        <nav class="main-nav-bar">
            <ul class="navega">
    <li><a href="/productos">Todos los productos</a></li>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <li><a href="/productos/create">Vender</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>
    <ul class="navega-derecha">
    <li><a href="/usuarios/register">Creá tu cuenta</a></li> <i class="far fa-address-card"></i>
    <li><a href="/usuarios/login">Ingresá</a></li><i class="fas fa-sign-in-alt"></i>
    <li><a href="#">Mis compras</a></li><i class="fas fa-shopping-basket"></i>
</ul>
</nav>
        </header>