<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
    
        <form action="/productos/search" class="nav-search" method="GET" role="search"> 
            <input type="text" name="busqueda" placeholder="Encontrá lo que buscas..." maxlength="120" autocomplete="off" class="search-form-input">
               <button type="submit" value="Buscar" class="nav-search-boton">
                   <div class="lupa-form"><i class="fas fa-search"></i></div>
                </button>
        </form>
        </div>
        <div class="copy-header">
    <h1><i class="fas fa-store"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
    </div>

        <a href="#" class="hamburguesa-boton">
            <i class="fas fa-bars"></i></a>
        
        <nav class="main-nav-bar">
            <ul class="navega">
    <li><a href="/productos">Todos los productos</a></li>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <% if(locals.userLogged) { %>
    <% if(locals.userLogged.rol == 1) { %>
    <li><a href="/productos/create">Vender</a></li>
    <% } %>
    <% } %>
    <li><a href="#">Ayuda</a></li>
</ul>
    <ul class="navega-derecha">
        <% if (locals.isLogged) { %>
            <li class="barra-logeado">
            <a href="/usuarios/profile" class="nav-link dropdown-toggle" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/avatars/<%=locals.userLogged.avatar %>" width="68" style="border-radius: 100%">
                 Hola <%= locals.userLogged.nombreUsuario %></a>
                <a class="dropdown-item" href="/usuarios/logout">Cerrar sesión</a>
            </li>
         
        <% } else { %>
            <li class="items-barra-logeo">
                <a href='/usuarios/register'>Registrate</a>
                <i class="fas fa-address-card"></i>
            </li>
            <li class="items-barra-logeo">
                <a href='/usuarios/login'>Ingresa</a>
                <i class="fas fa-sign-in-alt"></i>
            </li>
            
            
        <% } %>
            <li class="items-barra-logeo">
                <a href="#">Mis compras</a>
                    <i class="fas fa-shopping-bag"></i>
            </li>
        </li>
</ul>
</nav>
        </header>