<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
    
        <form action="/search" class="nav-search" method="GET" role="search"> 
            <input type="text" name="busqueda" placeholder="Encontrá lo que buscas..." maxlength="120" autocomplete="off" class="search-form-input">
               <button type="submit" value="Buscar" class="nav-search-boton">
                   <div class="lupa-form"><i class="fas fa-search"></i></div>
                </button>
        </form>
        </div>
        <div class="copy-header">
    <h1><i class="fas fa-store"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
    </div>

        <a href="#" class="hamburguesa-boton">
            <i class="fas fa-bars"></i></a>
        
        <nav class="main-nav-bar">
            <ul class="navega">
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <li><a href="#">Vender</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>
    <ul class="navega-derecha">
    <li><a href="/register">Creá tu cuenta</a></li> <i class="far fa-address-card"></i>
    <li><a href="/login">Ingresá</a></li><i class="fas fa-sign-in-alt"></i>
    <li><a href="#">Mis compras</a></li><i class="fas fa-shopping-basket"></i>
</ul>
</nav>
        </header>
    <div class="banner"><img src="/img/img-home-banner.jpg" width="100%"></div>

<main>

 <div class="fondo">
     <h2 class="visita">Basado en tu última visita</h2>
   <div class="row">

<section>
<article class="product-box">
<img src="/img/img-macbook-pro-2019.jpg">
<ul><div class="iconoenvio"><i class="fas fa-dolly"></i></div>
    <li class="precio">$230.000</li>
    <li class="descuento">20% OFF</li>
    <h3>Mackbook Pro 2019</h3>
    </ul>
</article>
</section>
<section>
<article class="product-box">
<img src="/img/img-samsung-galaxy-s10.jpg">
    <ul class="product-box_data">
        <li class="precio">$70.500</li>
        <li class="descuento">10% OFF</li>
        <h3>Samsung Galaxy S10</h3>
        </ul>
        <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
        </article>
</section>
<section>
    <article class="product-box">
    <img src="/img/img-parlante-bose.jpg">
        <ul class="product-box_data">
            <li class="precio">$20.500</li>
            <li class="descuento">10% OFF</li>
            <h3>Parlante Inalámbrico Bose Soundtouch 10</h3>
            </ul>
            <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
            </article>
    </section>
    <section>
        <article class="product-box">
        <img src="/img/img-mouse-logitech.jpg">
            <ul class="product-box_data">
                <li class="precio">$8.500</li>
                <li class="descuento">20% OFF</li>
                <h3>Mouse Inalámbrico Logitech M280</h3>
                </ul>
                <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
                </article>
        </section>
        <section>
            <article class="product-box">
            <img src="/img/img-home-theater-sony.jpg">
                <ul class="product-box_data">
                    <li class="precio">33.000</li>
                    <li class="descuento">25% OFF</li>
                    <h3>Home Theatre Sony Bdv-e4100</h3>
                    </ul>
                    <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
                    </article>
            </section>
    </div>

<h2 class="ofertas">Sección de Ofertas</h2>
<div class="row">
<section>
<article class="product-box">
    <img src="/img/img-cafetera-moulinex.jpg">
<ul class="product-box_data">
    <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
    <li class="precio">$6.770</li>
    <li class="descuento">40% OFF</li>
    <h3>Cafetera Moulinex</h3>
    </ul>
</article>
</section>
<section>
<article class="product-box">
    <img src="/img/img-tv-samsung-smart.jpg">
<ul class="product-box_data">
    <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
    <li class="precio">$70.000</li>
    <li class="descuento">10% OFF</li>
    <h3>TV Samsung Smart</h3>
    </ul>
</article>
</section>
<section>
    <article class="product-box">
        <img src="/img/img-heladera-whirpool.jpg">
    <ul class="product-box_data">
        <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
        <li class="precio">$170.000</li>
        <li class="descuento">10% OFF</li>
        <h3>Heladera no frost Whirlpool WRM45A</h3>
        </ul>
    </article>
    </section>
    <section>
        <article class="product-box">
            <img src="/img/img-camara-nikon.jpg">
        <ul class="product-box_data">
            <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
            <li class="precio">$40.000</li>
            <li class="descuento">15% OFF</li>
            <h3>Camara Nikon Reflex D3500</h3>
            </ul>
        </article>
        </section>
        <section>
            <article class="product-box">
                <img src="/img/img-aire-acondicionado.jpg">
            <ul class="product-box_data">
                <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
                <li class="precio">$70.000</li>
                <li class="descuento">10% OFF</li>
                <h3>Aire Acondicionado 3200w frio/calor</h3>
                </ul>
            </article>
            </section>
            <section>
                <article class="product-box">
                    <img src="/img/img-bicicleta-fierce.jpg">
                <ul class="product-box_data">
                    <div class="iconoenvio"><i class="fas fa-dolly"></i></div>
                    <li class="precio">$30.000</li>
                    <li class="descuento">20% OFF</li>
                    <h3>Bicicleta Bike Fierce Rodado 29</h3>
                    </ul>
                </article>
                </section>
</div>
</div>
</main>

    <footer class="main-footer">
        <div class="container">
            <div class="rowe">

        <div class="paga">
            <article class="footer-data">
            <i class="far fa-credit-card iconos"></i><h4>Pagá con tarjeta o efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </div>
        <div class="paga">
            <article class="footer-data">
            <i class="fas fa-gift iconos"></i><h4>Envío gratis desde $2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </div>
        <div class="paga">
            <article class="footer-data">
        <i class="fas fa-user-shield iconos"></i><h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
    </div>
</div>
</div>
</footer>
        <div class="sub-footer">
            <div class="container">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        </div>         
</body>
</html>