<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./../views/partials/header') %>
        <img src="/img/img-home-banner.jpg" class="banner">

       
<form action="/usuarios/login" method="POST" class="formulario">
    
    <div class="control-formulario">
    <label>Email:</label>
    <input type="text" name="email" class="control" placeholder="email">
    <% if (locals.errors && errors.email) { %>
        <div class="text-danger">
            <%= errors.email.msg %>
        </div>
    <% } %>
    </div>
    <div class="control-formulario">
  <label>Contraseña:</label>
    <input type="password" name="password" class="control" placeholder="contraseña">
    </div>
    <button type="submit" class="boton-formulario">Enviar</button>
    <label>Recordame</label>
    <input type="checkbox" name="recordame">
</form>

<%- include('./../views/partials/footer') %>
            <div class="sub-footer">
                <div class="container">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
            </div>
</body>
</html>