<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/home"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>

            <form action="/search" class="nav-search" method="GET" role="search"> 
                <input type="text" name="busqueda" placeholder="Encontrá lo que buscas..." maxlength="120" autocomplete="off" class="search-form-input">
                <button type="submit" value="Buscar" class="nav-search-boton">
                       <div class="lupa-form"><i class="fas fa-search"></i></div>
                    </button>
            </form>
        </div>
        <div class="copy-header">
            <h1><i class="fas fa-store"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
            </div>
            <a href="#" class="hamburguesa-boton">
                <i class="fas fa-bars"></i></a>
            <nav class="main-nav-bar">
    <ul class="navega">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
        <ul class="navega-derecha">
        <li><a href="/register">Creá tu cuenta</a></li> <i class="far fa-address-card"></i>
        <li><a href="/login">Ingresá</a></li><i class="fas fa-sign-in-alt"></i>
        <li><a href="#">Mis compras</a></li><i class="fas fa-shopping-basket"></i>
    </ul>
    </nav>
        </header>
        <img src="/img/img-home-banner.jpg" class="banner">


<form action="/registro-usuario" method="POST" class="formulario">
    
    <div class="control-formulario">
    <label>Nombre de usuario:</label>
    <input type="text" name="nombre" class="control" placeholder="Nombre de usuario">
    </div>
    <div class="control-formulario">
  <label>Contraseña:</label>
    <input type="password" class="control" placeholder="contraseña">
    </div>
    <button type="submit" class="boton-formulario">Enviar</button>
</form>

<footer>
    <footer class="main-footer">
        <div class="container">
            <div class="rowe">

        <div class="paga">
            <article class="footer-data">
            <i class="far fa-credit-card iconos"></i><h4>Pagá con tarjeta o efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </div>
        <div class="paga">
            <article class="footer-data">
            <i class="fas fa-gift iconos"></i><h4>Envío gratis desde $2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </div>
        <div class="paga">
            <article class="footer-data">
        <i class="fas fa-user-shield iconos"></i><h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </div>
    </div>
    </div>
    </footer>
            <div class="sub-footer">
                <div class="container">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
            </div>
</body>
</html>