* {
    box-sizing: border-box;
}

.main-header {
    background-color: #EAC926;
    font-family:'Roboto', sans-serif;
    text-align: center;
    padding: 15px 0;
    margin: auto;
    width: 100%;
    z-index: 100;
}
.hamburguesa-boton {
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-size: 2em;
    border: none;
    margin: 20px auto 0;
    position: relative;
    top: 10px;
}
.logo {
    width: 50%;
    animation: aumentar 1000ms linear infinite alternate;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes aumentar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.main-nav-bar {
    display: none;
}
.main-header-top-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.main-nav-bar ul {
    list-style: none;
    display: flex;
}
.main-nav-bar a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 1.5em;
}
.copy-header {
    color: #03264C;
    font-size: 50%;
}
.nav-search {
    padding: 8px 0;
    width: 100%;
    display: flex;
    position: relative;
}
.nav-search-boton {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    color: gray;
    border-left: solid 1px #ebebeb;
    position: absolute;
    right: 420px;
    bottom: 12.5px;
    height: 60%;
}
.search-form-input {
    border:solid 1px #ebebeb;
    width: 50%;
    padding:  7px 35px 7px 7px;
    border-radius: 3px;
    height: 40px;
    display: block;
}
.lupa-form {
    padding: 0;
    background: 0 0;
    color: #666;
    line-height: 1em;
}
main {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: #ebebeb;
}
.barra-logeado{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    list-style-type: none;
    margin-top: 20%;
    text-align: center;
    position: relative;
    bottom:25%;
}
.ul-opciones{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 50%;
}

.ul-opciones li{
    margin: 0 5%;
}
.avatarpequeño{
    width:10%;
    height: 15%;
}
.items-barra-logeo{
    width: 20%;
    padding: 0 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10%;
    cursor: pointer;
}

.items-barra-logeo li{
    padding: 0 5px;
}

.items-barra-logeo li button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.banner {
    display: flex;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo {
    background-color: #ebebeb;
    font-family:'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
}
.visita,
.ofertas {
    color: rgb(13, 13, 168);
    font-weight: 400;
    font-size: 1.5em;
    margin-left: 20px;
    padding: 5px;
    display: flex;
    margin-top: 0;
    padding-top: 5px;
}
.product-box {
    border: solid 5px gray;
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: white;
    align-items: center;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    display: grid;    
}
.product-box:hover .iconoenvio {
    transform: rotate(360deg);
}
.product-box img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.product-box h3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 50px;
    opacity: 0;
    transition: opacity 450ms;
}

.product-box ul {
    list-style: none;
    display: flex;
}

.product-box:hover h3 {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.formulario {
    padding: 20px;
    background-color: #ebebeb;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.formulario:hover h3 {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.formulario h3 {
    color: #ffffff;
    margin: auto;
    padding: 15px;
    position: absolute;
    font-size: 70px;
    text-align: center;
    opacity: 0;
    transition: opacity 450ms;
}

.control-formulario label {
    margin-bottom: 1vw;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.boton-formulario {
    background-color: #032640;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5%;
    justify-content: center;
    margin-top: 1vw;
    align-content: center;
    transition: background-color;
}
.boton-formulario:hover {
    background-color: #0022aa;
}
nav {
    display: none;
}
.actions-list{
    margin-bottom: 50px;
}
.actions-list li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
}
.actions-list i{
    color: green;
    font-size: 2em;
    margin-right: 15px;
}
.caja-izquierda{
    position: relative;
    width: 60%;
}
.products-wrapper{
    padding: 20px;
    background-color: #ebebeb;
    font-family:'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    margin: auto;
}
.product-detail{
    border-radius: 8px;
    overflow: hidden;
}
.product-detail-price{
    font-size: 2.5em;
    margin: 10px 0;
}
.product-detail-img{
    width: 60%;
    display: block;
    margin: auto;
}
.product-detail-title{
    font-weight: 400;
    font-size: 2.8em;
}
.product-detail-discount{
    font-size: 2.1em;
    margin: 10px 0;
}
.product-detail-description{
    padding: 15px;
    font-size: 1.2em;
    line-height: 1.5;
}
.buy-now-button{
    background-color: blue;
    font-size: 1.6em;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    margin-top: 3%;
}

.products-title{
    font-size: 2.4em;
    font-weight: 400;
    color: gray;
}
.action-button.edit{
    background-color: chocolate;
}
.action-button{
    border: none;
    border-radius: 8px;
    font-size: 1em;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 15px;
}
.action-button.delete{
    background-color: rgb(248, 69, 37);
}
a{
    text-decoration: none;
}
.form-label{
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
}
textarea.form-input{
    min-height: 140px;
    resize: vertical;
    padding: 15px;
}
.form-input{
    height: 45px;
    width: 70%;
    margin-top: 1vw;
    font-size: 1.5em;
    font-style: italic;
    border-radius: 8px;
    border: none;
    border: solid 1px gray;
    padding: 0 15px;
    margin-bottom: 2vw;
    justify-content: center;
    align-content: center;
}
.text-danger{
    color: red;
}

@media (max-width: 361px) {
    .main-header-top-bar {
        display: flex;
    }
    .copy-header {
        text-align: center;
        margin-left: 1em;
    }
    .logo {
        left: 0;
        width: 50%;
        display: flex;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    .banner {
        width: 100%;
    }
    .hamburguesa-boton {
        align-items: center;
        flex-direction: column;
    }
    .nav-search {
        display: flex;
        width: 100%;
    }
    .main-nav-bar,
    .navega,
    .navega-derecha {
        display: none;
    }
    .fondo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .row {
        display: grid !important;
        grid-template-columns: repeat(1,1fr);
    }
}

@media (min-width: 1023px) { 
    .logo {
        width: 100%;
    }
    .main-header-top-bar,
    .main-nav-bar {
        max-width: 1200px;
        margin: auto;
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .main-header-top-bar {
        align-items: center;    
    }
    .banner {
        width: 100%;
    }
    .hamburguesa-boton {
        display: none;
    }
    .copy-header {
        font-size: 18px;
        font-weight: 400;
        margin-top: 0;
    }
    .main-nav-bar {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-search {
        width: 40%;
    }
    .main-nav-bar li {
        margin: 0 10px;
    }
    .main-nav-bar a {
        font-size: 19px;
    }
    .row {
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media (min-width: 1024px) {
    .row {
        display: grid !important;
        grid-template-columns: repeat(4,1fr);
    }
    .product-box:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }
    .nav-search {
        width: 70%;
    }
    .rowe{
        display: flex;
    }
}

.main-footer {
    background-color: #ffffff;
    padding: 5px;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.footer-data {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.paga {
    position: relative;
    padding: 20px;
}
.footer-data h4 {
    color: black;
    font-size: 1.3em;
    font-weight: 400;
    margin: auto;
}

.footer-data p {
    text-align: center;
    color: gray;
    font-size: 1em;
    font-weight: 300;
}
.iconos {
    color: black;
    transition: color;
    font-size: 1.5em;
    
}
.sub-footer {
    border-top:1px solid rgb(161, 159, 159);
    background-color: #ffffff;
}
.sub-footer p {
    margin: 0;
    color: gray;
    padding: 15px 0;
    font-size: 10px;
}

footer:hover i {
    color: #0022aa;
}

.precio,.descuento {
    flex-direction: row;
    
}
.precio {
    flex-basis: 30%;
    position: absolute;
    left: 50px;
    color: #03264c;
}

.descuento {
    flex-basis: 70%;
    position: absolute;
    right: 80px;
    color: green;
}

.iconoenvio {
    color: black;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 60%;
    text-align: justify;
    font-size: 1em;
    border: 1px inset #39b54a;
    align-items: stretch;
    display: block;
    background-color: #fff;
    transition: all 0.5s;
}